/**
 * Eric Meyer's CSS Reset + Nicolas Gallagher's Clearfix
 * https://github.com/reefat/css-reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom: 1;
}

.container {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	max-width: 1200px;
	width: 96%;
	margin: 0 auto;
}

/**********Header****************/
header {
	height: 110px;
	box-sizing: border-box;
	background: rgba(0,0,0, 0.75);
}

header h1 { padding: 30px 0 30px; }

.left { float: left; }

.right { float: right; }

.hidden { display: none; }

.fixed { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.navigation { 
	border-right: 1px solid #ccc;
	height: 100%;
  padding: 47px 20px 47px 0;
  box-sizing: border-box;
}

nav ul li {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	margin-right: -5px;
}

nav ul li:first-of-type { margin-left: 0; }

nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
  line-height: 23px;
  display: block;
}

nav ul li a:hover, .search:hover, .cart:hover {
	color: #a29b9b;
}

.cart-search { 
	padding: 47px 20px;
}

.search, .cart { 
	color: #fff;
	cursor: pointer;
}

.cart { margin-left: 20px; }

.visible { display: block; }

.search-form {
	position: absolute;
  left: 0;
  top: 110px;
  padding: 20px;
  background: #000;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.search-form input {
	padding: 10px 30px;
  width: 35%;
}



/********banner slider***********/
.banner-slider li img {
	width: 100%;
}

/*******flexslider******/

.flexslider { position: relative; }

.flex-control-paging {
	position: absolute;
  bottom: 40px;
  transform: translateY(-50%);
  left: 50%;
}

.flex-control-paging li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  margin-left: 10px;
  margin-right: -5px;
}

.flex-control-paging li a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
}

.flex-direction-nav { 
	position: absolute;
	top: 50%;
	left: 2%;
	transform: translateX(-50%);
}

.flex-prev, .flex-next {
	display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 0;
  color: #fff;
  text-decoration: none;
}

.flex-prev:before {
	content: '\f102';
	font-size: 16px;
}

.flex-next:before {
	content: '\f103';
	font-size: 16px;
}

.flex-nav-next { margin-top: 20px; }


/************main content***************/

.content-block .content{
	padding-top: 50px;
}

.content-block .content h2 {
	font-size: 25px;
	text-transform: uppercase;
	line-height: 31px;
	text-align: center;
}

.pizza-listing { margin-top: 30px; }

.pizza-listing li {
	display: inline-block;
  width: 32%;
  vertical-align: top;
  margin-left: 2%;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.pizza-listing li h3 {
	font-weight: 600;
  margin-top: 10px;
  font-size: 17px;
}

.pizza-listing li .ingredients {
	font-size: 14px;
  margin-top: 7px;
  display: inline-block;
}

.pizza-listing li div {
	margin-top: 10px;
  font-size: 15px;
}

.pizza-listing li .label {
	text-transform: capitalize;
  font-weight: 600;
}

.pizza-listing li .label-value { text-transform: capitalize; }

.pizza-listing li:nth-of-type(3n - 2) {
	margin-left: 0;
}

.pizza-listing li img { width: 100%; }

.grid-3 li:nth-of-type(1n+4) { display: none; }

.category {
	font-style: italic;
  font-size: 13px;
  line-height: 20px;
}

.cart-overlay { 
	display: none;
	background: #000;
	position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
}

.cart-overlay .label, .cart-overlay .label-value { color: #fff; }

.add-cart {
  display: block;
  text-transform: uppercase;
	text-decoration: none;
  margin-top: 10px;
  background: #fff;
  color: #000;
  padding: 10px;
}
/*
.add-cart:hover {
	background: #000;
	color: #fff;
	outline: 1px solid #fff;
}*/

.pizza-listing li:hover .cart-overlay { display: block; }



/************footer styling*********/
footer {
	padding: 40px 0;
	margin-top: 20px;
	background: #000;
}

.copyright { 
	color: #fff;
	font-size: 14px;
}

.social-share li {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-right: -5px;
}
.social-share li:first-of-type {
	margin-left: 0;
}

.social-share li a { 
	color: #fff; 
	font-size: 19px;
	text-decoration: none;
}

.back-top {
	position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  text-decoration: none;
  color: #fff;
  background: #ccc;
  border-radius: 4px;
  padding: 13px;
  margin-right: 1%;
  bottom: 2%;
}